---
import FavoriteCitySelect from "../components/FavoriteCitySelect.astro";
import Search from "../components/Search.astro";
import RootLayout from "../layout/RootLayout.astro";
---

<RootLayout title="Weather APP">
	<header class="mb-10 flex items-center justify-between">
		<h1 class="text-xl font-bold">Weather App</h1>
	</header>
	<main>
		<div class="flex justify-between">
			<FavoriteCitySelect />
			<Search />
		</div>
		<div class="mb-12 text-center">
			<h2 class="text-6xl font-semibold text-white">16°C</h2>
			<p class="mt-2 text-lg text-white">Sunday, April 13, 2025</p>
		</div>
		<section class="mb-8">
			Daily Forecast
			<div class="flex flex-wrap justify-around gap-4">
				<div class="w-28 rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<h3 class="font-semibold">Mon</h3>
					<span class="text-2xl">:sunny:</span>
					<p>20°C</p>
				</div>
				<div class="w-28 rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<h3 class="font-semibold">Tue</h3>
					<span class="text-2xl">:sunny:</span>
					<p>20°C</p>
				</div>
				<div class="w-28 rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<h3 class="font-semibold">Wed</h3>
					<span class="text-2xl">:sunny:</span>
					<p>20°C</p>
				</div>
				<div class="w-28 rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<h3 class="font-semibold">Thu</h3>
					<span class="text-2xl">:sunny:</span>
					<p>20°C</p>
				</div>
				<div class="w-28 rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<h3 class="font-semibold">Fri</h3>
					<span class="text-2xl">:sunny:</span>
					<p>20°C</p>
				</div>
			</div>
		</section>
		<section>
			Hourly Forecast
			<div class="flex flex-wrap justify-around gap-4">
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">03:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">06:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">09:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">12:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">15:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">18:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">21:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
				<div class="min-w-[100px] rounded-xl bg-white/50 p-4 text-center shadow backdrop-blur-md">
					<p class="font-semibold">00:00</p>
					<span class="text-xl">:crescent_moon:</span>
					<p class="mt-1">15°C</p>
				</div>
			</div>
		</section>
	</main>
	<script>
		let currentLocation = {
			latitude: "49.2827",
			longitude: "-123.1207",
		};
		navigator.geolocation.getCurrentPosition(
			(pos) => {
				currentLocation = {
					latitude: String(pos.coords.latitude),
					longitude: String(pos.coords.longitude),
				};
			},
			(_err) => {
				alert("failed to get the current position");
			},
		);

		const hourly = "temperature_2m,precipitation_probability,weather_code";
		const forecast_days = "5";
		const current = "temperature_2m,is_day,precipitation,weather_code,apparent_temperature";
		const daily = "weather_code,temperature_2m_max,temperature_2m_min,sunrise,sunset";
		const meteoUrl = "https://api.open-meteo.com/v1/forecast";
		const params = { ...currentLocation, current, daily, hourly, forecast_days };
		const urlSearchParams = new URLSearchParams(params);
		const url = `${meteoUrl}?${urlSearchParams}`;

		const fetchWeatherData = async () => {
			const response = await fetch(url);
			if (response.ok) {
				const fetchData = await response.json();
				/**
				 * Current Result Example
				 * interval: 900
				 * is_day: 1
				 * precipitation: 0
				 * temperature_2m: 13
				 * time: "2025-04-14T22:15"
				 * weather_code: 3
				 */
				const currentWeather = fetchData.current;
				console.log(currentWeather);

				const fiveDays = fetchData.daily.time;
				const fiveDaysTempMax = fetchData.daily.temperature_2m_max;
				const fiveDaysTempMin = fetchData.daily.temperature_2m_min;
				const fiveWeatherCode = fetchData.daily.weather_code;
				const fiveDaysWeather = fiveDays.map((f, index) => {
					return {
						day: f,
						tempMax: fiveDaysTempMax[index],
						tempMin: fiveDaysTempMin[index],
						weekCode: fiveWeatherCode[index],
					};
				});
				console.log(fiveDaysWeather);

				const selectedDate = "2025-04-15"; // ユーザー選択日
				const hourlyData = fetchData.hourly.time.map((time, index) => ({
					time,
					date: time.split("T")[0],
					hour: Number(time.split("T")[1].split(":")[0]),
					temperature: fetchData.hourly.temperature_2m[index],
					precipitationProbability: fetchData.hourly.precipitation_probability[index],
					weatherCode: fetchData.hourly.weather_code[index],
				}));

				const selectedDayHourly = hourlyData.filter((data) => data.date === selectedDate && data.hour % 3 === 0);
				console.log(selectedDayHourly);
			} else {
				alert("Failed to fetch weather data");
			}
		};

		document.addEventListener("DOMContentLoaded", async function () {
			await fetchWeatherData();
		});
	</script>
</RootLayout>
